#parent{
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    align-items: center;
    padding-left: 5px;

}

.list > ul{
    display: flex;
}

.list >ul>li{
    padding: 10px;
    margin: 4px;
    list-style: none;
    font-size: 30px;
}
.logoimage{
    margin:4px;
    width: 25vh;
    height:14vh
}


.rescard{
    width: 32vh;
    margin: 30px 30px 30px 30px;
    padding-bottom: -1px;
    z-index: 1;
    position: relative;
}

.resimage{
    width: 32vh;
    z-index: -1;
    height: 25vh;
}

.rescard:hover{
    transition: 0.5s;
    transform: scale(0.9);
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 32vh;
    margin: 30px 30px 30px 30px;
    padding-bottom: -1px;
    z-index: 1;
    position: relative;
    background-color: rgb(93, 87, 87);
    height: 32vh;
}


.sort-btn{
    height: 7vh;
    width:45vh
}

.search-bar{
    align-items: center;
    width: 65vh;
    height: 7vh;
    border-radius: 25px 0px 0px 25px ;
    padding-left: 22px;
}

.search-button{
    width: 13vh;
    height: 7vh;
    border-radius:0px 25px 25px 0px ;
    cursor: pointer;
}

.body-top{
    display: flex;
    justify-content: space-between;
}

.userinfo-card{
    width: 32vh;
    margin: 30px 30px 30px 30px;
    padding-bottom: -1px;
    border: 1px solid black;
}

.user-elements{
    padding-left: 3vh;
}

